

<div class="jumbotron text-center" style="background-image: url(https://as1.ftcdn.net/v2/jpg/03/15/46/02/1000_F_315460238_r9VGtbJzt7emruDKEY2ouioFPdcbMKs4.jpg); background-size: 100%;">>
  <h1 class="display-4" style="color: #592316;"><strong>Modifier ton profil !</strong></h1>
  <p class="lead" style="color: #592316;"><strong>Ajoute des infos sur toi !</p>
  <hr class="my-4">
  <p class="lead">
  </p>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

   <div class="form-group">
       <label> Prénom : </label>
       <%= f.text_field :first_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label> Nom : </label>
       <%= f.text_area :last_name, class: 'form-control' %>
    </div>

  
    <div class="form-group">
      <label> Description : </label>
       <%= f.text_area :description, class: 'form-control' %>
    </div>

<div class="form-group">
      <label> Email : </label>
       <%= f.text_area :email, class: 'form-control' %>
    </div>

<br>
    <div class="form-group">
       <button type="submit" id="yellow-button"> Actualise ton profil </button>
    </div>
<br>
<% end %>

<div class="jumbotron text-center" style="background-image: url(https://as1.ftcdn.net/v2/jpg/03/15/46/02/1000_F_315460238_r9VGtbJzt7emruDKEY2ouioFPdcbMKs4.jpg); background-size: 100%;">>
  <h1 class="display-4" style="color: #592316;"><strong>Modifier ton mot de passe !</strong></h1>
  <p class="lead" style="color: #592316;"><strong>Ne modifie pas si cela ne t'interresse pas !</p>
  <hr class="my-4">
  <p class="lead">
  </p>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
<br>

<div class="jumbotron text-center" style="background-image: url(https://as1.ftcdn.net/v2/jpg/03/15/46/02/1000_F_315460238_r9VGtbJzt7emruDKEY2ouioFPdcbMKs4.jpg); background-size: 100%;">>
  <h1 class="display-4" style="color: #592316;"><strong>Annule ton compte !</strong></h1>
  <p class="lead" style="color: #592316;"><strong>Ne modifie pas si cela ne t'interresse pas !</p>
  <hr class="my-4">
  <p class="lead">
  </p>
</div>


<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>



